node_modules
.nuxt
.output
dist
.env
.env.*
*.local

# log files
*.log
npm-debug.log*

# editor
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
